/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: "IBM Plex mono", "Times New Roman", "Arial";
  margin: 0;
  font-size: 18px;
  line-height: 23.4px;
  padding: 0 10px 0;
  color: var(--color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; /* Фон остается на месте при прокрутке */
  background-repeat: no-repeat;
  background-image: url("../images/cover-image.png");
}

.rec-label {
  color: var(--accent-color);
  position: absolute;
  top: 10px;
  right: 9px;
  display: inline-block;
}

.rec-label::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color); /* Цвет точки */
  border-radius: 50%; /* Круглая форма */
  margin-left: 10px; /* Отступ между текстом и точкой */
  margin-bottom: 1px;
  box-shadow: 0 0 9px 4px var(--accent-color);
}

.header__theme-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 10px;
}

.header__theme-menu-button {
  width: 70px;

  font-family: "IBM Plex mono", "Times New Roman", "Arial";
  text-transform: lowercase;
  color: var(--accent-color);
  border: none;
  background-color: inherit;
  font-size: var(--font-size);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header {
  height: 100vh;
  padding-bottom: 0;
  margin-bottom: 40px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr minmax(min-content, max-content) 1fr;
}

.header::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 24px; /* Длина границы */
  height: 24px;
  border-top: 1px solid var(--accent-color); /* Верхняя граница */
  border-right: 1px solid var(--accent-color); /* Правая граница */
}

.header::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 24px; /* Длина границы */
  height: 24px;
  border-left: 1px solid var(--accent-color); /* Левая граница */
  border-bottom: 1px solid var(--accent-color); /* Нижняя граница */
}

.heading {
  font-size: var(--font-size);
  font-weight: bold;
}

.header__title {
  margin: 0;
  display: flex;
  align-items: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--header__title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__paragraph {
  padding-bottom: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0;
}

.title-decor {
  color: var(--content__title);
  background-color: var(--accent-color);
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: bold;
}

.section .title-decor {
  margin-bottom: 0;
}

.five-rules {
  font-weight: 400;
  margin-top: 20px;
}

.header .title-decor {
  max-width: 364px;
}

.section__title {
  color: var(--accent-color);
  margin-bottom: 20px;
}

.section-text {
  margin-top: 10px;
  margin-bottom: 20px;
}

.section {
  margin-bottom: 50px;
}

.gallery {
  margin-top: 10px;
  display: grid;
  grid-template-rows: auto;
  gap: 10px;
}

.in-pictures {
  margin-bottom: 40px;
}

.images {
  width: 100%;
  height: auto;
}

.footer {
  position: relative;
  margin-top: 40px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 24px; /* Длина границы */
  height: 24px;
  border-top: 1px solid var(--accent-color); /* Верхняя граница */
  border-right: 1px solid var(--accent-color); /* Правая граница */
}

.footer::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 24px; /* Длина границы */
  height: 24px;
  border-left: 1px solid var(--accent-color); /* Левая граница */
  border-bottom: 1px solid var(--accent-color); /* Нижняя граница */
}
